#box{
    width: 50px;
    height: 50px;
    position: absolute;
    left: 0;
    /* 초반에 캐릭터가 보이지 않게 함 */
    top: -100;
    transition: all 0.1s ease-out;
    background-image: url('super_mario.png');
    background-size: cover;
    /* 커서 깜빡임 해결 */
    caret-color: transparent;
}

#bar{
    /* 그라운드 스타일 */
    width: 700px;
    height: 50px;
    background-color:peru;
    position: absolute;
    left: 0;
    top: 550px;
}
