body{
    margin: 0;
    padding: 0;
    height: 200vh;
}

#section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 800px;

}

.contents{
    background: brown;
    width: 300px;
    height: 300px;
    text-align: center;
    line-height: 300px;
    margin-right: 10px;
    transition: all .5s ease;
    color: white;
    font-weight: bold;
    font-size: 2rem;
    opacity: 0;

}
.up{
    /* y방향으로 100px 만큼 아래쪽으로 내린다 */
    transform: translate(0, 100px);
}
.down{
    /* y방향으로 100px 만큼 위쪽으로 올린다 */
    transform: translate(0, -100px);
}

.show{
    opacity: 1;
    transform: none;
}